@import "./variable";
@import "./mixin";
body {
    font-family: $pmr-font;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section__heading {
    font-family: $sub-font;
    @include txt(7rem, 400, 70px, $pmr-text-cl);
    text-transform: uppercase;
}
.section__title {
    @include txt(2.4rem, 700, 34px, $pmr-text-cl);
    text-transform: uppercase;

    &--small {
        @include txt(2.2rem, 700, 32px, $pmr-text-cl);
        text-transform: uppercase;
    }
}
.section__desc {
    @include txt(1.8rem, 400, 30px, $sub-text-cl);
    &--small {
        @include txt(1.4rem, 400, 24px, $sub-text-cl);
    }
}
