@import "../core/reset";
@import "../core/variable";
@import "../core/mixin";
@import "../core/element";

.hide-pc {
    display: none;
}
body {
    height: 10000px;
}
#home {
    .header--fixed {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    // Header
    .header {
        padding: 32px 0;
        background-color: #fff;
        .header__wrap {
            @include flex($flex-sb);

            .header__left {
                @include flex(unset);
                column-gap: 123px;

                .header__nav {
                    ul {
                        @include flex(unset);
                        column-gap: 48px;

                        .header__item:last-child {
                            @include flex(unset);
                            column-gap: 6px;
                        }

                        .header__item {
                            .header__item-link {
                                @include txt(1.6rem, 400, 28px, $pmr-text-cl);
                            }
                        }
                    }
                }
            }
            .header__right {
                .header__menu {
                    @include image-wrap(24px, 24px);

                    .header__menu-icon {
                        @include imgage(true);
                    }
                }
                .header__contact {
                    @include btn(8px, 24px, $pmr-text-cl, 0);
                    @include txt(1.6rem, 500, 28px, #fff);
                }
            }
        }
    }
    // Main
    // Hero
    .hero {
        position: relative;
        background: $pmr-bgcl;
        height: 100vh;
        padding: 130px 0 145px;

        .hero__wrap {
            position: relative;
            z-index: 2;
            .hero__heading {
                @include txt(11.8rem, 400, 118px, #fff);
                font-family: $sub-font;
                text-transform: uppercase;
                max-width: 601px;
            }
            .hero__title {
                margin-top: 20px;
                max-width: 431px;
                color: #fff;
            }
            .hero__cta {
                margin-top: 50px;
                @include btn(15px, 35px, $pmr-text-cl, 0);
                @include txt(1.8rem, 500, 20px, #fff);
            }
        }
        .hero__img-wrap {
            @include image-wrap(1364px, 100vh);
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;

            .hero__img {
                @include imgage(true);
            }
        }
    }
    // About
    .about {
        .about__top {
            padding: 80px 0;

            .about__top-header {
                text-align: center;
                .about__title {
                    @include txt(2rem, 700, 30px, #ff6a35);
                }
                .about__heading {
                    margin-top: 14px;
                }
                .about__desc {
                    max-width: 750px;
                    margin: 18px auto 0;
                }
            }
            .about__top-list {
                margin-top: 60px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 72px;

                .about__item {
                    @include flex(unset, unset);
                    column-gap: 30px;

                    .about__img-wrap {
                        @include image-wrap(90px, 90px);
                        border-radius: 50%;
                        flex-shrink: 0;

                        .about__img {
                            @include imgage(true);
                        }
                    }

                    .about__info {
                        .about__info-desc {
                            @include clamp(5);
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
        .about__bottom {
            padding: 80px 0;
            background-color: #fffae9;

            .about__bottom-wrap {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 45px;
                .about__bottom-item {
                    text-align: center;
                    .about__bottom-item-number {
                        @include txt(11.8rem, 400, 118px, unset);
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #181d1f;
                        font-family: $sub-font;
                        text-transform: uppercase;
                    }
                    .about__bottom-heading {
                        margin-top: 8px;
                    }
                    .about__bottom-desc {
                        margin-top: 14px;
                        @include txt(1.8rem, 500, 30px, #364145);
                    }
                    .about__bottom-link {
                        margin-top: 14px;
                        display: inline-block;
                        @include txt(1.8rem, 700, 30px, #ff6a35);
                    }
                }
            }
        }
    }
    // Why
    .why {
        padding: 80px 0;
        .why__top {
            text-align: center;
            .why__desc {
                margin: 18px auto 0;
                max-width: 685px;
            }
        }
        .why__bottom {
            margin-top: 60px;
            @include flex($flex-sb);
            .why__listImages {
                max-width: 53.16%;
                .why__list {
                    .why__img-wrap {
                        position: relative;
                        @include image-wrap(622px, 534px);
                        border-radius: 20px;
                        .why__img {
                            @include imgage(true);
                            border-radius: inherit;
                        }
                        .why__play {
                            @include middle(false);
                            @include image-wrap(100px, 100px);
                            border-radius: 50%;

                            .why__play-img {
                                @include imgage(true);
                                border-radius: inherit;
                            }
                        }
                    }
                }
            }
            .why__control {
                @include flex(unset, unset);
                flex-direction: column;
                row-gap: 60px;
                padding-right: 60px;
                .why__control-item {
                    .why__control-btn {
                        @include flex(unset);
                        column-gap: 35px;
                        .why__arrow {
                            @include image-wrap(37px, 22px);
                            .why__arrow-img {
                                @include imgage(true);
                            }
                        }
                    }
                }
            }
        }
    }
    // Product
    .product {
        padding: 80px 0;
        .product__heading {
            text-align: center;
        }
        .product__list {
            margin-top: 60px;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            .product__arrow-left,
            .product__arrow-right {
                position: absolute;
                top: 50%;
                border-radius: 50%;
                transform: translateY(-50%);

                @include image-wrap(44px, 44px);
                svg {
                    @include imgage(true);
                    transition: 0.5s linear;
                }
            }
            .product__arrow-left {
                left: -59px;
            }
            .product__arrow-right {
                right: -59px;
                svg {
                    transform: rotate(180deg);
                }
            }
            .product__arrow-left:hover,
            .product__arrow-right:hover {
                svg {
                    background-color: #4cbce2;
                }
                rect {
                    stroke: transparent;
                }
                path {
                    stroke: #fff;
                }
            }
            .product__item {
                cursor: pointer;
                .product__img-wrap {
                    @include image-wrap(100%, 462px);
                    border-radius: 20px;
                    .product__img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
                .product__item-content {
                    margin-top: 32px;
                    padding: 0 11px;

                    .product__info {
                        margin-top: 18px;
                        @include flex($flex-sb);

                        .product__cart-btn {
                            @include image-wrap(36px, 36px);
                            border-radius: 50%;
                            transition: 0.5s linear;

                            svg {
                                @include imgage(true);
                            }

                            &:hover {
                                background-color: #4cbce2;
                                circle {
                                    stroke: transparent;
                                }
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Project
    .project {
        padding: 80px 0;
        position: relative;
        .project__heading {
            max-width: 570px;
            margin: 0 auto;
            text-align: center;
        }
        .project__list {
            margin-top: 60px;
            @include flex(unset, unset);
            column-gap: 30px;
            overflow: hidden;
            .project__item {
                flex: 1 0 0%;
                .project__img-wrap {
                    @include image-wrap(100%, 422px);
                    border-radius: 20px;
                    .project__img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
                .project__title {
                    margin-top: 20px;
                }
                .project__desc {
                    margin-top: 6px;
                }
            }
        }
        .project__line {
            position: relative;
            margin: 80px auto 0;
            width: 800px;
            height: 8px;
            border-radius: 6px;
            background-color: #dbe1e3;
        }
        .project__line::after {
            content: "";
            display: block;
            position: absolute;
            width: 236px;
            height: 8px;
            border-radius: inherit;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #4cbce2;
            z-index: 1;
        }
    }
    // Client
    .client {
        padding: 80px 0;
        .client__heading {
            text-align: center;
        }
        .client__list {
            margin-top: 60px;
            @include flex(unset);
            .client__item {
                flex: 1 0 0%;
                padding: 50px 0;
                border: 1px solid #dbe1e3;
                @include flex();
            }
        }
    }
    // Member
    .member {
        padding: 80px 0;
        text-align: center;
        .member__list {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            .member__item {
                padding: 40px 60px;
                border-radius: 20px;
                border: 1px solid #dbe1e3;
                background: #fff;
                .member__avt {
                    @include image-wrap(170px, 170px);
                    margin: 0 auto;
                    border-radius: 50%;
                    .member__avt-img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
                .member__name {
                    margin-top: 30px;
                }
                .member__job {
                    margin-top: 6px;
                }
                .member__desc {
                    margin-top: 14px;
                    color: $pmr-text-cl;
                }
            }
        }
        .member__cta {
            margin-top: 60px;
            @include btn(15px, 35px, $pmr-bgcl, 0);
            @include txt(1.8rem,500,30px,#fff);
        }
    }
}
@include tablet() {
    .show-mb {
        display: block;
    }
    .hide-mb {
        display: none;
    }
    .hero .hero__wrap {
        width: 100%;
    }
    #home .hero .hero__img-wrap {
        width: 534px;
        height: 357px;
    }
}
