@import "../core/reset";
@import "../core/variable";
@import "../core/mixin";
@import "../core/element";

.hide-pc {
    display: none;
}

#home {
    .header--fixed {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    // Header
    .header {
        padding: 32px 0;
        background-color: #fff;
        .header__wrap {
            @include flex($flex-sb);

            .header__left {
                @include flex(unset);
                column-gap: 260px;

                .header__nav {
                    ul {
                        @include flex(unset);
                        column-gap: 48px;

                        .header__item:last-child {
                            @include flex(unset);
                            column-gap: 6px;
                        }

                        .header__item {
                            .header__item-link {
                                @include txt(1.6rem, 400, 28px, $pmr-text-cl);
                            }
                            .header__item-link--active {
                                color: #1cc7d9;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .header__right {
                .header__menu {
                    @include image-wrap(24px, 24px);

                    .header__menu-icon {
                        @include imgage(true);
                    }
                }
                .header__contact {
                    @include btn(8px, 24px, $pmr-text-cl, 0);
                    @include txt(1.6rem, 500, 28px, #fff);
                }
            }
        }
    }
    // Main
    // Hero
    .hero {
        position: relative;
        background: $pmr-bgcl;
        height: 100vh;
        padding: 130px 0 145px;

        .hero__wrap {
            position: relative;
            z-index: 2;
            .hero__heading {
                @include txt(11.8rem, 400, 118px, #fff);
                font-family: $sub-font;
                text-transform: uppercase;
                max-width: 601px;
            }
            .hero__title {
                margin-top: 20px;
                max-width: 431px;
                color: #fff;
            }
            .hero__cta {
                margin-top: 50px;
                @include btn(15px, 35px, $pmr-text-cl, 0);
                @include txt(1.8rem, 500, 20px, #fff);
            }
        }
        .hero__img-wrap {
            @include image-wrap(1035px, 100vh);
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;

            .hero__img {
                width: 100%;
                height: 100%;
            }
        }
    }
    // About
    .about {
        .about__top {
            padding: 80px 0;

            .about__top-header {
                text-align: center;
                .about__title {
                    @include txt(2rem, 700, 30px, #ff6a35);
                }
                .about__heading {
                    margin-top: 14px;
                }
                .about__desc {
                    max-width: 750px;
                    margin: 18px auto 0;
                }
            }
            .about__top-list {
                margin-top: 60px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 72px;

                .about__item {
                    @include flex(unset, unset);
                    column-gap: 30px;

                    .about__img-wrap {
                        @include image-wrap(90px, 90px);
                        border-radius: 50%;
                        flex-shrink: 0;

                        .about__img {
                            @include imgage(true);
                        }
                    }

                    .about__info {
                        .about__info-desc {
                            @include clamp(5);
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
        .about__bottom {
            padding: 80px 0;
            background-color: #fffae9;

            .about__bottom-wrap {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 45px;
                .about__bottom-item {
                    text-align: center;
                    .about__bottom-item-number {
                        @include txt(11.8rem, 400, 118px, unset);
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #181d1f;
                        font-family: $sub-font;
                        text-transform: uppercase;
                    }
                    .about__bottom-heading {
                        margin-top: 8px;
                    }
                    .about__bottom-desc {
                        margin-top: 14px;
                        @include txt(1.8rem, 500, 30px, #364145);
                    }
                    .about__bottom-link {
                        margin-top: 14px;
                        display: inline-block;
                        @include txt(1.8rem, 700, 30px, #ff6a35);
                    }
                }
            }
        }
    }
    // Why
    .why {
        padding: 80px 0;
        .why__top {
            text-align: center;
            .why__desc {
                margin: 18px auto 0;
                max-width: 685px;
            }
        }
        .why__bottom {
            margin-top: 60px;
            @include flex($flex-sb);
            .why__listImages {
                max-width: 53.16%;
                .why__list {
                    .why__img-wrap {
                        position: relative;
                        @include image-wrap(100%, 534px);
                        border-radius: 20px;
                        .why__img {
                            @include imgage(true);
                            border-radius: inherit;
                        }
                        .why__play {
                            @include middle(false);
                            @include image-wrap(100px, 100px);
                            border-radius: 50%;

                            .why__play-img {
                                @include imgage(true);
                                border-radius: inherit;
                            }
                        }
                    }
                }
            }
            .why__control {
                @include flex(unset, unset);
                flex-direction: column;
                row-gap: 60px;
                padding-right: 60px;
                .why__control-item {
                    .why__control-btn {
                        @include flex(unset);
                        column-gap: 35px;
                        .why__arrow {
                            @include image-wrap(37px, 22px);
                            .why__arrow-img {
                                @include imgage(true);
                            }
                        }
                    }
                }
            }
        }
    }
    // Product
    .product {
        padding: 80px 0;
        .product__heading {
            text-align: center;
        }
        .product__list {
            margin-top: 60px;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            .product__arrow-left,
            .product__arrow-right {
                position: absolute;
                top: 50%;
                border-radius: 50%;
                transform: translateY(-50%);

                @include image-wrap(44px, 44px);
                svg {
                    @include imgage(true);
                    transition: 0.5s linear;
                }
            }
            .product__arrow-left {
                left: -59px;
            }
            .product__arrow-right {
                right: -59px;
                svg {
                    transform: rotate(180deg);
                }
            }
            .product__arrow-left:hover,
            .product__arrow-right:hover {
                svg {
                    background-color: #4cbce2;
                }
                rect {
                    stroke: transparent;
                }
                path {
                    stroke: #fff;
                }
            }
            .product__item {
                cursor: pointer;
                .product__img-wrap {
                    @include image-wrap(100%, 462px);
                    border-radius: 20px;
                    .product__img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
                .product__item-content {
                    margin-top: 32px;
                    padding: 0 11px;

                    .product__info {
                        margin-top: 18px;
                        @include flex($flex-sb);

                        .product__cart-btn {
                            @include image-wrap(36px, 36px);
                            border-radius: 50%;
                            transition: 0.5s linear;

                            svg {
                                @include imgage(true);
                            }

                            &:hover {
                                background-color: #4cbce2;
                                circle {
                                    stroke: transparent;
                                }
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Project
    .project {
        padding: 80px 0;
        position: relative;
        .project__heading {
            max-width: 570px;
            margin: 0 auto;
            text-align: center;
        }
        .project__list {
            margin-top: 60px;
            @include flex(unset, unset);
            column-gap: 30px;
            overflow: hidden;
            .project__item {
                flex: 1 0 0%;
                .project__img-wrap {
                    @include image-wrap(100%, 422px);
                    border-radius: 20px;
                    .project__img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
                .project__title {
                    margin-top: 20px;
                }
                .project__desc {
                    margin-top: 6px;
                }
            }
        }
        .project__line {
            position: relative;
            margin: 80px auto 0;
            width: 800px;
            height: 8px;
            border-radius: 6px;
            background-color: #dbe1e3;
        }
        .project__line::after {
            content: "";
            display: block;
            position: absolute;
            width: 236px;
            height: 8px;
            border-radius: inherit;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #4cbce2;
            z-index: 1;
        }
    }
    // Client
    .client {
        padding: 80px 0;
        .client__heading {
            text-align: center;
        }
        .client__list {
            margin-top: 60px;
            @include flex(unset);
            .client__item {
                flex: 1 0 0%;
                padding: 50px 0;
                border: 1px solid #dbe1e3;
                @include flex();
            }
        }
    }
    // Member
    .member {
        padding: 80px 0;
        text-align: center;
        .member__list {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            .member__item {
                padding: 40px 60px;
                border-radius: 20px;
                border: 1px solid #dbe1e3;
                background: #fff;
                .member__avt {
                    @include image-wrap(170px, 170px);
                    margin: 0 auto;
                    border-radius: 50%;
                    .member__avt-img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
                .member__name {
                    margin-top: 30px;
                }
                .member__job {
                    margin-top: 6px;
                }
                .member__desc {
                    margin-top: 14px;
                    color: $pmr-text-cl;
                }
            }
        }
        .member__cta {
            margin-top: 60px;
            @include btn(15px, 35px, $pmr-bgcl, 0);
            @include txt(1.8rem, 500, 30px, #fff);
        }
    }
    // Review
    .review {
        padding: 80px 0;
        .review__heading {
            text-align: center;
        }
        .review__list {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 40px;
            .review__item {
                border-radius: 20px;
                border: 1px solid #dbe1e3;
                padding: 30px;
                .review__stars {
                    @include flex(unset);
                    column-gap: 9px;
                    .review__star-wrap {
                        @include image-wrap(20px, 20px);
                        .review__star-icon {
                            @include imgage(true);
                        }
                    }
                }
                .review__desc {
                    margin-top: 20px;
                }
                .review__user {
                    margin-top: 40px;
                    @include flex(unset, flex-start);
                    column-gap: 16px;
                    .review__avt {
                        @include image-wrap(54px, 54px);
                        border-radius: 50%;
                        .review__avt-img {
                            @include imgage(true);
                            border-radius: inherit;
                        }
                    }
                    .review__info {
                        .review__name {
                            color: $pmr-text-cl;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    // Blog
    .blog {
        padding: 80px 0;
        text-align: center;
        .blog__list {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            .blog__item {
                border-radius: 20px;
                border: 1px solid #dbe1e3;
                .blog__img-wrap {
                    @include image-wrap(100%, 258px);
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                    .blog__img {
                        @include imgage(true);
                        border-top-left-radius: inherit;
                        border-top-right-radius: inherit;
                    }
                }
                .blog__info {
                    text-align: left;
                    padding: 20px;
                    .blog__desc {
                        margin-top: 10px;
                    }
                }
            }
        }
        .blog__cta {
            margin-top: 60px;
            @include btn(15px, 35px, $pmr-bgcl, 0);
            @include txt(1.8rem, 500, 30px, #fff);
        }
    }
    // Form
    .form {
        padding: 80px 0;
        background-color: #fffae9;
        .container {
            padding: 0 30px;
            .form__wrap {
                @include flex(unset);
                column-gap: 116px;
                .form__info {
                    flex: 1 0 0%;
                    .form__inputs {
                        margin-top: 60px;
                        @include flex(center, unset);
                        flex-direction: column;
                        row-gap: 30px;
                        .form__input-wrap {
                            min-height: 52px;
                            position: relative;
                            .form__input {
                                padding-right: 10px;
                                display: block;
                                border: none;
                                outline: none;
                                min-height: 30px;
                                width: 100%;
                                caret-color: #4cbce2;
                                @include txt(1.8rem, 400, 30px, #4cbce2);
                                &::placeholder {
                                    @include txt(
                                        1.8rem,
                                        400,
                                        30px,
                                        $sub-text-cl
                                    );
                                }
                            }
                            .form__line {
                                display: block;
                                position: absolute;
                                background-color: #dbe1e3;
                                width: 100%;
                                height: 2px;
                                border-radius: 10px;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                    .form__btn {
                        margin-top: 40px;
                        @include btn(15px, 35px, $pmr-bgcl, 0);
                        @include txt(1.8rem, 500, 30px, #fff);
                    }
                }
                .form__img-wrap {
                    max-width: 46.3%;
                    height: 672px;
                    border-radius: 20px;
                    .form__img {
                        @include imgage(true);
                        border-radius: inherit;
                    }
                }
            }
        }
    }
    // Footer
    .footer {
        padding: 63px 0 30px;
        background-color: $pmr-text-cl;
        .footer__list {
            @include flex($flex-sb, unset);
            padding-bottom: 54px;
            border-bottom: 1px solid #364145;
            .footer__item {
                .footer__title {
                    @include txt(2rem, 700, 30px, #fff);
                    margin-bottom: 24px;
                }
                .footer__item-list {
                    display: flex;
                    flex-direction: column;
                    row-gap: 16px;
                    .footer__item-link {
                        @include txt(1.6rem, 400, 28px, #96a5aa);
                    }
                }
                .footer__email {
                    @include flex(unset);
                    column-gap: 18px;
                    .footer__input {
                        min-width: 258px;
                        padding: 16px;
                        @include txt(1.6rem, 400, 28px, #fff);
                        caret-color: #fff;
                        outline: none;
                        border: 1px solid #364145;
                        &::placeholder {
                            @include txt(1.6rem, 400, 28px, #96a5aa);
                        }
                    }
                    .footer__btn {
                        @include btn(15px, 35px, $pmr-bgcl, 0);
                        @include txt(1.8rem, 500, 30px, #fff);
                    }
                }
            }
        }
        .footer__bottom {
            @include flex($flex-sb);
            margin-top: 30px;
        }
    }
}
@include tablet() {
    .show-mb {
        display: block;
    }
    .hide-mb {
        display: none;
    }
    .section__heading {
        font-size: 4rem;
        line-height: 50px;
    }
    #home {
        .header {
            padding: 16px 0 40px;
            .header__wrap {
                .header__right {
                    @include flex(unset);
                    column-gap: 20px;
                    .header__contact {
                        padding: 6px 16.4px;
                        font-size: 1.2rem;
                        line-height: 22px;
                    }
                }
            }
        }
        // hero
        .hero {
            padding: 62px 0 0;
            height: 100%;
            padding-bottom: 379px;
            .hero__img-wrap {
                width: 100%;
                height: 357px;
            }
            .hero__wrap {
                .hero__heading {
                    font-size: 6.8rem;
                    line-height: 84px;
                }
                .hero__title {
                    margin-top: 22px;
                }
                .hero__cta {
                    margin-top: 35px;
                    background-color: #ff6a35;
                    line-height: 30px;
                }
            }
        }
        // about
        .about {
            .about__top {
                padding: 100px 0 50px;
                .about__top-header {
                    .about__heading {
                        margin-top: 10px;
                    }
                    .about__desc {
                        margin-top: 10px;
                    }
                }
                .about__top-list {
                    margin-top: 40px;
                    grid-template-columns: 1fr;
                    row-gap: 30px;
                    .about__item {
                        column-gap: 24px;
                        .about__img-wrap {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
            .about__bottom {
                padding: 40px 0;
                .about__bottom-wrap {
                    grid-template-columns: 1fr;
                    row-gap: 30px;
                    .about__bottom-item {
                        text-align: left;
                        .about__bottom-item-number {
                            font-size: 7.8rem;
                            line-height: 78px;
                        }
                        .about__bottom-heading {
                            margin-top: 16px;
                            font-size: 5rem;
                        }
                        .about__bottom-desc {
                            margin-top: 17px;
                        }
                    }
                }
            }
        }
        // why
        .why {
            padding: 100px 0;
            .why__top {
                .why__desc {
                    margin-top: 8px;
                }
            }
            .why__bottom {
                margin-top: 32px;
                flex-direction: column;
                row-gap: 32px;
                .why__listImages {
                    max-width: 100%;
                    .why__list {
                        .why__img-wrap {
                            height: 280px;
                            .why__play {
                                width: 52.5px;
                                height: 52.5px;
                            }
                        }
                    }
                }
                .why__control {
                    padding: 0;
                    row-gap: 40px;
                    .why__control-item {
                        .why__control-btn {
                            column-gap: 20px;
                            .why__arrow {
                                width: 33.6px;
                                height: 20px;
                            }
                            .why__control-txt {
                                font-size: 2.2rem;
                            }
                        }
                    }
                }
            }
        }
        // product
        .product {
            padding: 0 0 100px;
            .product__heading {
                max-width: 297px;
            }
            .product__list {
                margin-top: 30px;
                display: flex;
                overflow: scroll;
                .product__item {
                    flex: 1 0 100%;
                    .product__img-wrap {
                        height: 408px;
                    }
                    .product__item-content {
                        margin-top: 20px;
                        padding: 0;
                        .product__title {
                            font-size: 2rem;
                            line-height: 30px;
                        }
                        .product__info {
                            .product__price {
                                font-size: 1.8rem;
                                line-height: 28.316px;
                            }
                            .product__cart-btn {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
        // project
        .project {
            padding: 0 24px 0;
            .project__list {
                overflow: scroll;
                column-gap: 18px;
                margin-top: 18px;
                .project__item {
                    flex: 1 0 290px;
                    .project__img-wrap {
                        height: 254px;
                    }
                    .project__title {
                        margin-top: 12px;
                        font-size: 1.4rem;
                        line-height: 20px;
                    }
                    .project__desc {
                        margin-top: 2px;
                        font-size: 1.2rem;
                        line-height: 18.05px;
                    }
                }
            }
            .project__line {
                width: 100%;
                margin-top: 50px;
            }
            .project__line::after {
                width: 84px;
            }
        }
        // client
        .client {
            padding: 100px 0;
            width: calc(100% - 48px);
            margin: 0 auto;
            .client__heading {
                padding-bottom: 16px;
                border-bottom: 1px solid #dbe1e3;
            }
            .client__list {
                margin-top: 18px;
                overflow: scroll;
                .client__item {
                    flex: 1 0 270px;
                }
            }
        }
        //member
        .member {
            padding: 0;
            .member__list {
                margin-top: 40px;
                grid-template-columns: 1fr;
                row-gap: 20px;
                .member__item {
                    padding: 40px 17px;
                    .member__desc {
                        margin: 14px auto 0;
                        max-width: 250px;
                    }
                }
            }
            .member__cta {
                padding: 13px 46.5px;
                font-size: 1.4rem;
                line-height: 22px;
            }
        }
        // review
        .review {
            padding: 100px 0;
            .review__list {
                margin-top: 40px;
                grid-template-columns: 1fr;
                row-gap: 40px;
                .review__item {
                    padding: 20px;
                    .review__user {
                        margin-top: 20px;
                    }
                }
            }
        }
        // blog
        .blog {
            padding: 0 0 100px;
            .blog__list {
                margin-top: 30px;
                grid-template-columns: 1fr;
                row-gap: 30px;
                .blog__item {
                    .blog__info {
                        padding: 20px 16px;
                    }
                }
            }
        }
        // form
        .form {
            padding: 0;
            .container {
                padding: 0;
                .form__wrap {
                    flex-direction: column;
                    row-gap: 40px;
                    padding: 40px 0 78px;
                    .form__info {
                        width: 100%;
                        .section__heading {
                            text-align: center;
                        }
                        .form__inputs {
                            margin-top: 28px;
                        }
                    }
                    .form__img-wrap {
                        max-width: 100%;
                        height: 427.5px;
                    }
                }
            }
        }
        // footer
        .footer {
            padding: 35px 0 51px;
            .footer__list {
                flex-direction: column;
                padding-bottom: 49px;
                row-gap: 30px;
                .footer__item:last-child {
                    margin-top: 10px;
                    .footer__title {
                        margin-bottom: 12px;
                    }
                    .footer__email {
                        flex-direction: column;
                        row-gap: 12px;
                        .footer__input,
                        .footer__btn {
                            width: 100%;
                        }
                        .footer__btn {
                            font-size: 1.6rem;
                            line-height: 24px;
                        }
                    }
                }
            }
            .footer__bottom {
                margin-top: 40px;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 20px;
            }
        }
    }
}
